.Patient-container {
  display: flex !important;
  flex-direction: row !important;
  gap: 30px;
  height: 100%;
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;

  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }
  h1 {
    font-size: 25px;
  }
}

.Patient-container::-webkit-scrollbar {
  display: none;
}

.diagnostic-data,
.patient-details {
  flex: 2;
  border-radius: 15px;
}

.patient-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.patient-data {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}

.diagnosis-history {
  padding: 10px 20px 20px 20px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart-container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  background-color: #f4f0fe;
  border-radius: 15px;
  padding: 0px 20px;
}

.chart-wrapper {
  flex: 2;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.blood-pressure-info {
  display: flex;
  flex: 1;
  margin-top: 5px;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
}

.blood-pressure-info div div,
h2 {
  margin: 5px 0px;
}
.info-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.vitals {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.vital {
  font-weight: 500;
}

.vital-card {
  flex: 1;
  min-width: 120px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}

.vital h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

.card-icon {
  width: 100px;
  height: 100px;
}

#timePeriod {
  background-color: transparent;
  border: none;
}
#timePeriod:hover {
  background-color: transparent;
  border: none;
}
.diagnostic-list {
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 20px;
}

.patient-header {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
}

.patient-profile-img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.patient-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-item img {
  width: 35px;
  height: 35px;
}

.show-all-info-button {
  align-self: center;
  padding: 10px 20px;
  background-color: #01f0d0;
  border: none;
  border-radius: 20px;
  margin: 10px 0px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.lab-results {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.lab-results-list {
  margin-top: 20px;
  height: 185px;
  overflow-y: auto;
}

.lab-result-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.lab-result-item img {
  width: 20px;
  height: 20px;
}

.lab-results-list::-webkit-scrollbar {
  width: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.line-seperator {
  width: 100%;
  height: 2px;
  background-color: lightgray;
}

.lab-results-list::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.Respiratory {
  background-color: #e0f3fa;
}

.Temperature {
  background-color: #ffe6e9;
}

.Heart {
  background-color: #ffe6f1;
}

.vital {
  flex: 1;
  min-width: 120px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.info-content .data {
  font-weight: bold;
}

.line-separator {
  width: 100%;
  height: 1px;
  background-color: lightgray;
}
